{{ partial "header.html" . }}

{{ partial "brandnavbar.html" . }}

<div class="main-container container front">
    <div class="content-top">
        <div class="region region-content-top">
            <section id="slider-background" class="block block-views clearfix">
                <div class="view view-home-page-flexslider view-id-home_page_flexslider view-display-id-block_slider">
                    <div class="view-content">
                        {{ if isset .Site.Params.home "slider" }}
                            <div class="flexslider">
                                <ul class="slides">
                                    {{ range .Site.Params.home.slider }}
                                        <li>
                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">
                                                    <p><img src="{{ $.Site.BaseURL }}images/{{ index . 0 }}" draggable="false"></p>
                                                    <div class="flex-caption">{{ index . 1 }}</div>
                                                 </div>
                                             </div>
                                             </div>                                    
                                        </li>
                                    {{ end }}
                                </ul>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </section>
        </div>
    </div> <!-- /content top -->
    
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-sm-12">
            <article class="node node-page clearfix">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                        {{ if isset .Site.Params.home "tagline1" }}
                        <div class="field-item even">
                                <div class="front_tag">
                                    {{ .Site.Params.home.tagline1 | safeHTML }}
                                </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </article>
        </section>
    </div>

    <div class="row base clearfix">
        {{ range .Site.Params.home.columns }}
        <div class="col-sm-4 tri-column">
             <img src="{{ $.Site.BaseURL }}images/{{ index . 0 }}">
             <h2>{{ index . 1 }}</h2>
             <p>{{ index . 2 }}</p>
             {{ if index . 3 }}<p><a href="{{ $.Site.BaseURL }}/{{ index . 3 }}">Learn more</a></p>{{ end }}
        </div>
        {{ end }}
    </div>
    
</div>


{{ partial "footer.html" . }}
