{{ partial "header.html" . }}

{{ partial "brandnavbar.html" . }}

<div class="main-container container front">
    <div class="content-top">
        <div class="region region-content-top">
            <section id="block-views-bfa4ca4b6106865f0db1341f13d9c396" class="block block-views clearfix">
                <h2 class="block-title"></h2>
                <div class="view view-home-page-flexslider view-id-home_page_flexslider view-display-id-block_slider view-dom-id-8e39f655b62ed23d323b50017eccac5b">
                    <div class="view-content">
                        {{ if isset .Site.Params.home "slider" }}
                            <div class="flexslider">
                                <ul class="slides">
                                    {{ range .Site.Params.home.slider }}
                                        <li>
                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">
                                                    <p><img src="/images/{{ index . 0 }}" draggable="false"></p>
                                                    <div class="flex-caption">{{ index . 1 }}</div>
                                                 </div>
                                             </div></div>                                    
                                        </li>
                                    {{ end }}
                                </ul>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </section>
        </div>
    </div> <!-- /content top -->
    
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-sm-12">
            <article class="node node-page clearfix">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            {{ if isset .Site.Params.home "tagline1" }}
                                <div class="front_tag">
                                    {{ .Site.Params.home.tagline1 }}
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <div class="row base">
        {{ range .Site.Params.home.columns }}
        <div class="col-sm-4">
             <img src="/images/{{ index . 0 }}">
             <h2>{{ index . 1 }}</h2>
             <p>{{ index . 2 }}</p>
        </div>
        {{ end }}
    </div>
    
    {{ if isset .Site.Params.home "tagline2" }}
        <div class="row">
            <div class="contrib col-sm-12">
                <p>{{ .Site.Params.home.tagline2 }}</p>
            </div>
        </div>
    {{ end }}
</div>


{{ partial "footer.html" . }}
