li.ccnmtl img {
  margin: 3.5em 2em 0 0;
  max-width: 125px;
}

li.psych img {
  max-width: 150px;
  margin: 6.8em 2em 0 0;
}

li.lieber img {
  max-width: 150px;
  margin: 5.8em 2em 0 0;
}

li.alliance img {
  max-width: 200px;
    margin: 5.5em 2em 0 0;
}