    <div class="clearfooter"></div>

    <footer class="footer container">
    {{ if isset .Site.Params.home "tagline2" }}
        <div class="row">
            <div class="contrib col-sm-12">
                <p>{{ .Site.Params.home.tagline2 | safeHTML }}</p>
            </div>
        </div>
    {{ end }}
        <div class="region region-footer">
            <section id="block-menu-menu-footer-navigation" class="block block-menu clearfix">
                <ul class="menu nav">
                    <li><a href="/about#project-contact">Contact</a></li>
                    <li><a href="/about#project-credits">Credits</a></li>
                </ul>
            </section>
        </div>
        
        <div class="credit">
            <ul>
                {{ if isset .Site.Params.footer "credits" }}
                    {{ range .Site.Params.footer.credits }}
                        <li class="{{ index . 0 }}">
                            <a href="{{ index . 1 }}" target="_blank">
                                <img src="{{ $.Site.BaseURL }}images/{{ index . 2 }}">
                            </a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </footer>
    <div id="cubrand">
        <div id="cufooterleft" class="cutext">{{ if isset .Site.Params.footer "copyrights" }}<a href="http://www.columbia.edu/node/111.html" target="_blank">{{ .Site.Params.footer.copyrights | safeHTML }}</a>{{ end }}</div>
        <div id="cufooterright" class="cutext">{{ if isset .Site.Params.footer "dept_address" }}{{ .Site.Params.footer.dept_address | safeHTML }}{{ end }}</div>
    </div>

    {{ partial "js.html" . }}

</body>
</html>
